.gameboy {
    padding: 35px;
}

.shadow {
    box-shadow: 0 5px 5px -5px grey;
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 90%;
    }
}

.codewindow {
    display: none;
}

#contactForm h4, #contactForm p {
    display: inline;
}